@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  --color-black: #222;
  --color-gray: #777;
  --color-light-gray: #ececec;
  --color-white: #fff;
  --color-primary: #5E4DCD;
  --color-secondary: #FFD2DD;
}

body {
  margin: 0;
}

button {
  font-family: "Josefin Sans", sans-serif;
}

.hide {
  display: none !important;
}

.btn__primary {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  box-sizing: border-box;
}

.btn__primary:hover {
  background-color: var(--color-primary) !important;
  color: var(--color-white);
}

.btn__primary-block {
  cursor: pointer;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-white);
  box-sizing: border-box;
}

.btn__primary-block:hover {
  background: transparent;
}

.btn__secondary-block {
  cursor: pointer;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--color-primary);
}

.btn__secondary-block:hover {
  color: var(--color-white);
  background: transparent;
  border: 1px solid var(--color-secondary);
}

.app__element {
  max-width: 1280px;
  margin: auto;
}